<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login Form</h1>
                    <hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="log()">
                    <div class="mb-3">
                      <label class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label  class="form-label">Password</label>
                      <input type="password" class="form-control" formControlName="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a routerLink="/signup">New User....? Click to signup</a>
            </div>
        </div>
    </div>
</div>
