.card{
    margin-top:10px;
    border: 1px solid blue;
    width:400px;
    padding: 35px;
    position: absolute;
    top:10%;
    left:35%;
    background-color: aqua;
}
button{
    width: 40%;
    font-family: cursive;
}
h1{
    font-family: "Gill Sans", sans-serif;
}
a{
    text-decoration: none;
    font-size: 20px;
}